$accent-color: #88a376;
$black: #080808;
$grey: #535353;
$grey-alt: #717171;
$white: #f1f1f1;
$ease-in-out-cubic: cubic-bezier(0.145, 0.045, 0.155, 1);
$ease-in-out-cubic-2: cubic-bezier(0.455, 0.030, 0.000, 0.980);
$cubic-transition: 0.5s $ease-in-out-cubic;

@font-face {
  font-family: "Dalmatins";
  src: url("../fonts/dalmatins-webfont.woff2") format("woff2"),
       url("../fonts/dalmatins-webfont.woff") format("woff"),
       url("../fonts/Dalmatins.otf") format("opentype");
  font-display: swap;
}


html,
body {
  visibility: hidden;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  background-color: #FFFFFF;
  scroll-behavior: smooth;
}

::selection {
  background: $accent-color;
  color: $white;
}

::-moz-selection {
  background: $accent-color;
  color: $white;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $grey;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: $grey;
}

::-webkit-scrollbar-thumb {
  border-radius: 3.5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $accent-color;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header-cont {
  width: 100%;
}

*:focus {
  outline: none;
}

//Header
header {
    height: 80px;
    width: 90%;
    position: fixed;
    top: 0px;
    z-index: 25;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  
    .inner-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;
  
      .logo {
        visibility: hidden;
        cursor: pointer;
        width: 85px;

        img {
          margin-bottom: 0;
        }
      }
  
      .header-about {
        visibility: hidden;

        a {
          text-decoration: none;
          font-weight: 500;
          letter-spacing: 1.5px;
          color: $white;
          cursor: pointer;
          transition: 0.5s color $ease-in-out-cubic;
          position: relative;

          .alt{
            color: $grey;
          }
  
          &:before {
            content: "";
            position: absolute;
            width: 0;
            height: 1px;
            left: 0;
            bottom: 0;
            visibility: hidden;
            transition: width 0.5s ease, background 0.5s ease;
          }
          &:hover {
            color: $white;
            transition: 0.5s color $ease-in-out-cubic;

            .alt{
              color: $accent-color;
            }
          }
          &:hover:before {
            visibility: visible;
            background: $white;
            width: 100%;

            .alt{
              color: $accent-color;
            }
          }
  
          &:after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            background: $white;
            transition: width 0.5s ease;

            .alt{
              color: $accent-color;
            }
          }
  
          &:hover:after {
            background: transparent;
            width: 100%;
            transition: all 0s ease;
          } 
        } 
      }

      .header-alt {
        a {
          color: $grey;
          transition: 0.4s color $ease-in-out-cubic;
  
          &:hover {
            color: $accent-color;
          }

          &:hover:before {
            background: $accent-color;
          }
  
          &:after {
            background: $accent-color;
          }
        } 

        &.easter-egg {
          a {
            color: #c80004;
            transition: 0.4s color $ease-in-out-cubic;
          }
        }
      }
    }
  }


//Footer
footer {

  .footer-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 50px;
    margin-bottom: 20px;

    .inner-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .footer-copyright {
        a {
          text-decoration: none;
          font-weight: 500;
          font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
          color: $grey;
          transition: 0.4s color $ease-in-out-cubic;

          &:hover {
            color: $accent-color;
            transition: 0.4s color $ease-in-out-cubic;
          }
        }

        .heart-icon {
          color: $accent-color;
        }
      }

      .footer-links {
        .icon-footer {
          color: $grey;
          margin-left: 15px;
          transition: 0.4s color $ease-in-out-cubic;

          &:hover {
            color: $accent-color;
            transition: 0.4s color $ease-in-out-cubic;
          }
        }
        
      } 
    }
  } 
}


//Intro
.intro-overlay{
  width: 100%;
  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 30;
  justify-content: center;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .overlay-bar{
    flex: 1 1 0px;
    background-color: black;
  }

  .logo-handwritten {
    position: absolute;
    width: 20%;
    align-self: center;

    @media (max-width: 768px) {
      width: 40%;
    }

    svg {
      position: relative;
      width: 100%;
      height: 100%;

      .start {
        stroke-dasharray: 8500;
        stroke-dashoffset: 9000;
        animation: letter-animation 4s $ease-in-out-cubic-2 1 forwards;
      }
    }
  }
}

@keyframes letter-animation {
  0% {
      stroke-dashoffset: 9000;
  }
  100% {
      stroke-dashoffset: 0;
  }
}


//Landing screen
.landing{
  width: 100%;
  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: row;
  background-color: $black;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .landing-top-shadow{
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
    z-index: 4;
    position: absolute;
    pointer-events: none;
  }

  .landing-text-cont{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    h2{
      visibility: hidden;
      font-weight: 500;
      font-size: calc(14px + (72 - 14) * ((100vw - 300px) / (1600 - 300)));
      color: $white;
      text-align: center;

      @media (max-width: 768px) {
        font-size: 50px;
      }
    }

    #portraits-text {
      &:before {
        content: "Portraits";
        font-family: "Dalmatins";
        color: $white;
        font-size: 0.8em;
        position: absolute;
        z-index: -1;
        opacity: 0.35;
        transform: translateX(-0.7em) translateY(0.2em);
        width: max-content;
      }
    }

    #food-text {
      &:before {
        content: "Food";
        font-family: "Dalmatins";
        color: $white;
        font-size: 0.8em;
        position: absolute;
        z-index: -1;
        opacity: 0.35;
        transform: translateX(-0.5em) translateY(0.2em);
        width: max-content;
      }
    }

    #weddings-text {
      &:before {
        white-space: pre;
        content: "Weddings\a&\a Couples";
        font-family: "Dalmatins";
        color: $white;
        font-size: 0.6em;
        position: absolute;
        z-index: -1;
        opacity: 0.35;
        transform: translateX(-0.9em) translateY(-0.2em);
        width: max-content;
        line-height: 2em;
      }
    }
  }

  .landing-image-cont{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    pointer-events: all;

    picture {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .gatsby-image-wrapper {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

  }

  .landing-link {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 20;
  }

  .landing-food-cont{
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

    :after{
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      opacity: 0;
      background: rgba(0,0,0,.5);
      -moz-transition: 0.5s all $ease-in-out-cubic;
      -webkit-transition: 0.5s all $ease-in-out-cubic;
      transition: 0.5s all $ease-in-out-cubic;
      top: 0;
      left: 0;
      position: absolute;
    }

    :hover:after{
      opacity: 1;
    }
  }


  .landing-portraits-cont{
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

    :after{
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      opacity: 0;
      background: rgba(0,0,0,.5);
      -moz-transition: 0.5s all $ease-in-out-cubic;
      -webkit-transition: 0.5s all $ease-in-out-cubic;
      transition: 0.5s all $ease-in-out-cubic;
      top: 0;
      left: 0;
      position: absolute;
    }

    :hover:after{
      opacity: 1;
    }
  }

  .landing-weddings-cont{
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

    :after{
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      opacity: 0;
      background: rgba(0,0,0,.5);
      -moz-transition: 0.5s all $ease-in-out-cubic;
      -webkit-transition: 0.5s all $ease-in-out-cubic;
      transition: 0.5s all $ease-in-out-cubic;
      top: 0;
      left: 0;
      position: absolute;
    }

    :hover:after{
      opacity: 1;
    }

    picture {
      object-position: top;
    }
  }


}
  
  
//About page
.about {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  transition: 0.4s background-color $ease-in-out-cubic;

  &.easter-egg {
    background-color: $black;
    transition: 0.4s background-color $ease-in-out-cubic;
  }

  @media (max-width: 768px) {
    height: 100vh;
    min-height: 900px;
  }

  .about-title {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @media (max-width: 768px) {
      align-items: center;
      padding-top: 100px;
      padding-bottom: 40px;
    }

    h1 {
      font-weight: 600;
      font-size: calc(30px + (72 - 30) * ((100vw - 300px) / (1600 - 300)));
      color: $grey-alt;
      visibility: hidden;
      transition: 0.4s color $ease-in-out-cubic;
    }

    #about-decoration {
      cursor: pointer;
      user-select: none;

      &:before {
        content: "About me";
        font-family: "Dalmatins";
        color: #9F9F9F;
        font-size: 0.7em;
        position: absolute;
        z-index: -1;
        opacity: 0.2;
        transform: translateX(-0.8em);
        width: max-content;
      }
    }

    &.easter-egg {
      h1 {
        color: #c80004;
        transition: 0.4s color $ease-in-out-cubic;
      }
    }
    
  }

  .about-content {
    display: flex;
    flex-direction: row;
    height: 70%;
    width: 80%;
    max-width: 1600px;
    align-items: center;
    align-self: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .about-content-left {
      display: flex;
      flex-direction: column;
      margin-right: 50px;

      @media (max-width: 768px) {
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-right: 0;
      }

      img {
        min-width: 130px;
        width: 80%;
        height: auto;
        transform: rotate(-12.5deg);
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
        visibility: hidden;

        @media (max-width: 768px) {
          width: 30%;
        }
      }
    }

    .about-content-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-left: 50px;

      @media (max-width: 768px) {
        padding-left: 0;
        margin-left: 0;
      }

      hr.solid {
        border-top: 1px solid #bbb;
        width: 60%;
        align-self: center;
        margin-top: 20px;
        margin-bottom: 20px;
        visibility: hidden;
      }

      .about-desc {

        p {
          visibility: hidden;
          font-weight: 500;
          font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
          color: $grey;
          transition: 0.4s color $ease-in-out-cubic;
        }

        &.easter-egg {
          p {
            color: #c80004;
            transition: 0.4s color $ease-in-out-cubic;
          }
        }
      }

      .about-links {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 768px) {
          margin-bottom: 50px;
        }

        a {
          font-family: "Manrope";
          font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
          text-decoration: none;
          text-align: right;
          font-weight: 500;
          color: $grey;
          cursor: pointer;
          transition: 0.5s color $ease-in-out-cubic;
          position: relative;
          width: fit-content;
          margin-bottom: 25px;
       
          &:before {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            left: 0;
            bottom: 0;
            visibility: hidden;
            transition: width 0.5s ease, background 0.5s ease;
          }

          &:hover {
            color: $accent-color;
            transition: 0.5s color $ease-in-out-cubic;
          }

          &:hover:before {
            visibility: visible;
            background: $accent-color;
            width: 100%;
          }
  
          &:after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background: $accent-color;
            transition: width 0.5s ease;
          }
  
          &:hover:after {
            background: transparent;
            width: 100%;
            transition: all 0s ease;
          }

          &:last-child {
              margin-bottom: 0;
          }
        }

        span {
          display: flex;
          align-items: center;
          margin-bottom: 25px;
          visibility: hidden;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .icon-class {
          color: $grey;
          margin-right: 5px;
          transition: 0.4s color $ease-in-out-cubic;
        }

        &.easter-egg {
          a {
            color: #c80004;
            transition: 0.4s color $ease-in-out-cubic;;
          }

          .icon-class {
            color: #c80004;
            transition: 0.4s color $ease-in-out-cubic;;
          }
        }
      }
    }
  }
}

//Gallery page
.gallery-wrapper {
  overflow: hidden;

  .progress-wrap {
    position: fixed;
    right: 50px;
    bottom: 80px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset  0 0 0 2px rgba(0,0,0,0.2);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms $ease-in-out-cubic;
    transition: all 200ms $ease-in-out-cubic;

    &::after {
      position: absolute;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f062';
      text-align: center;
      line-height: 46px;
      font-size: 15px;
      color: rgba(0,0,0,0.2);
      left: 0;
      top: 0;
      height: 46px;
      width: 46px;
      cursor: pointer;
      display: block;
      z-index: 1;
      -webkit-transition: all 300ms $ease-in-out-cubic;
      transition: all 300ms $ease-in-out-cubic;
    }

    &:hover::after {
      color: $accent-color;
      -webkit-transition: all 300ms $ease-in-out-cubic;
      transition: all 300ms $ease-in-out-cubic;
    }

    svg path {
      fill: none;
    }

    .progress-circle path {
      stroke: $accent-color;
      stroke-width: 4;
      box-sizing: border-box;
      -webkit-transition: all 200ms $ease-in-out-cubic;
      transition: all 200ms $ease-in-out-cubic;
    }
  }

  .active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all 200ms $ease-in-out-cubic;
  }


}

.gallery {
  width: 100%;
  height: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;

  .gallery-title {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      align-items: center;
    }

    @media (min-width: 1555px) {
      height: 300px;
    }

    h1 {
      visibility: hidden;
      font-weight: 600;
      font-size: calc(30px + (72 - 30) * ((100vw - 300px) / (1600 - 300)));
      color: $grey-alt;
    }
    
    #food-decoration {
      &:before {
        content: "Food";
        font-family: "Dalmatins";
        color: #9F9F9F;
        font-size: 0.9em;
        position: absolute;
        z-index: -1;
        opacity: 0.2;
        transform: translateX(-0.7em);
      }
    }

    #portraits-decoration {
      &:before {
        content: "Portraits";
        font-family: "Dalmatins";
        color: #9F9F9F;
        font-size: 0.9em;
        position: absolute;
        z-index: -1;
        opacity: 0.2;
        transform: translateX(-1em);
      }
    }

    #weddings-decoration {
      &:before {
        content: "Weddings & Couples";
        font-family: "Dalmatins";
        color: #9F9F9F;
        font-size: 0.5em;
        position: absolute;
        z-index: -1;
        opacity: 0.2;
        transform: translateX(0.4em) translateY(0.5em);
      }
    }
  }

  .gallery-content {
    height: 70%;
    width: 80%;
    max-width: 1200px;
    padding-top: 50px;
    align-self: center;

    @media (max-width: 768px) {
      padding-top: 0px;
    }

  }

}

//Gallery rows
.portrait-row {
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: space-between;
  margin-bottom: calc((100% - (18vw)*4)/4);
  flex-wrap: wrap;

  @media (min-width: 1555px) {
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    margin-bottom: 0;
  }


  .portrait-photo {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 47%;
    margin-bottom: 20px;
    height: calc(36vw * 5 / 4);
    max-height: 350px;
    overflow: hidden;

    @media (min-width: 768px) {
      flex-basis: 23.5%;
      height: calc(20vw * 5 / 4);
      margin: 0;
    }

    picture {
      cursor: pointer;
    }

  }
}

.landscape-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: space-between;
  margin-bottom: calc((100% - (18vw)*4)/4);

  @media (min-width: 1555px) {
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    margin-bottom: 0;
  }

  .landscape-photo {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    margin-bottom: 20px;
    height: calc(36vw * 5 / 4);
    max-height: 350px;
    overflow: hidden;

    @media (min-width: 768px) {
      flex-basis: 49%;
      height: calc(20vw * 5 / 4);
      margin: 0;
    }

    picture {
      cursor: pointer;
    }
  }

}

//404 page
.notfound-cont {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: $black;

  .notfound-top {
    text-align: center;

    h1 {
      font-family: "Manrope", sans-serif;
      font-weight: 600;
      font-size: calc(100px + (250 - 100) * ((100vw - 300px) / (1600 - 300)));
      color: $accent-color;
    }

    h3 {
      font-family: "Manrope", sans-serif;
      font-weight: 500;
      font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
      color: $white;
    }
  }

  .notfound-bottom {
    a {
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 1.5px;
      color: $white;
      font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
      cursor: pointer;
      transition: 0.5s color $ease-in-out-cubic;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        left: 0;
        bottom: 0;
        visibility: hidden;
        transition: width 0.5s ease, background 0.5s ease;
      }
      &:hover {
        color: $accent-color;
        transition: 0.5s color $ease-in-out-cubic;

      }
      &:hover:before {
        visibility: visible;
        background: $accent-color;
        width: 100%;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background: $accent-color;
        transition: width 0.5s ease;
      }

      &:hover:after {
        background: transparent;
        width: 100%;
        transition: all 0s ease;
      } 
    } 
  }
}